QWidget {
    background-color: #333333;
}

QLabel {
    color: #ffffff;
}

QWidget#bordered {
    border: 1px solid #595959;
}

QLabel#bordered {
    border: 1px solid #595959;
    padding: 10px;
}

QLineEdit {
    background-color: white;
    border-radius: 2px;
}

QLineEdit::indicator {
    width: 30px;
    height: 30px;
}

QPushButton {
    background-color: #767171;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

QPushButton:hover {
    background-color: #76d13a;
    color: black;
}

QComboBox {
    color: white;
    background-color: #333333;
}

QComboBox QListView {
    color: white;
    background-color: #333333;
}

QTextEdit {
    background-color: white;
    border-radius: 2px;
}

QCheckBox {
    color: white;
}